/*THEME COLOR ORANGE*/

#toTop {
	background: url(../../images/to-top1.png) no-repeat 5px 10px #cd9a36;
}
/*=======================Content Color=======================*/
.content-sec-info h4{
  color:#cfa036;
}

/*==========================Navbar==========================*/
.pages ul li.active a,.pages ul li a:hover{
  color:#e8b606;
}


.content-grid-head h3{
  color:#cb9b0b;
}

.top-menu ul li a:hover,.top-menu ul li.active a{
  color:#e8c406;
}

.top-menu ul li a{
	color: #936529;
}

/*========================Color 1 Dark========================*/

.banner-links ul li.active a, .banner-links ul li a:hover {
  background: #bb4d00;
}

.content-grid-head h4 a {
  color: #bb4d00;
}

.content-grid-info h3 a:hover, .content-sec-info h3 a:hover {
  color: #bb4d00;
}

a.bttn {
  background: #bb4d00;
}

a.bttn:hover {
  color: #bb4d00;
	background:#f9d144;
}

.search {
  background: #bb4d00;
}

.search input[type="text"] {
  background: #f0ac46;
}

.archives li.active a, .categories li.active a, .categories li a:hover, .archives li a:hover {
  color: #bb4d00;
}

.contact form input[type="text"]:hover, .contact-right textarea:hover {
  border: 1px solid #bb4d00;
}

.address h3 {
  color: #bb4d00;
}

.address-info p a {
  color: #bb4d00;
}

.term h4 {
  color: #bb4d00;
}

.content-form form input[type="submit"] {
  background: #bb4d00;
  border: 1px solid #bb4d00;
}

.content-form form input[type="submit"]:hover {
  color: #bb4d00;
  border: 1px solid #bb4d00;
}

.comment-info h4 {
  ;
  color: #bb4d00;
}

.comment-info h5 {
  color: #bb4d00;
}

/*.comment-info a:hover {
  background: #bb4d00;
  border: 1px solid #bb4d00;
}*/


/*==========================Color 2==========================*/

.categories li a, .archives li a {
  color: #d18230;
}

.address-info p {
  color: #d18230;
}

.terms-sec-head p {
  color: #d18230;
}

p.agree {
  color: #d18230;
  ;
}

/*==========================Color 3==========================*/

.content-grid-info h3 a, .content-sec-info h3 a {
  color: #87745b;
}

.categories h3, .archives h3 {
  color: #87745b;
}

.contact-head h3, .terms h3 {
  color: #87745b;
}

.contact form input[type="text"], .contact-right textarea {
  border: 1px solid #87745b;
  color: #87745b;
}

.contact form input[type="submit"] {
  color: #87745b;
  border: 1px solid #87745b;
}

.contact form input[type="submit"]:hover {
  background: #87745b;
  border: 1px solid #87745b;
}

.address-info h4 {
  color: #87745b;
}

.address-info h5 a {
  color: #87745b;
}

.term p {
  color: #87745b;
}

.term li {
  color: #87745b;
}

.terms input[type="button"] {
  color: #87745b;
  border: 1px solid #87745b;
  background: #EFEAD8;
}

.terms input[type="button"]:hover {
  background: #87745b;
  border: 1px solid #87745b;
}

.content-grid-single h3 {
  color: #87745b;
}

.content-form h3, .comments h3 {
  color: #87745b;
}

.comments img {
  border: 1px solid #87745b;
}

.comment-info a {
  color: #87745b;
  border: 1px solid #87745b;
}

/*==========================Color 4 (Accent)==========================*/

.banner-links ul{
  background:#ddcc39;
}

.content-sec-info h4 a:hover{
color:#ddcc39;
}

.fotter-info h3,.fotter-list h3,.fotter-media h3{
color:#ddcc39;
}

.fotter-list ul li a:hover{
color:#ddcc39;
}

.copywrite p a{
color:#ddcc39
}
